{% extends "layout.html" %}
{% block content %}
    <h1 class="h2">Find Flights</h1>
    <div class="table-responsive">
        <table class="table table-striped table-sm" id="myTable">
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Flight Number</th>
                    <th>Flight Date</th>
                    <th>Departure Airport</th>
                    <th>Destination Airport</th>
                    <th>Seats Available</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for row in table_data %}
                <tr>
                    <td id="airline_name">{{ row.airline }}</td>
                    <td id="flight_num">{{ row.Flight_Num }}</td>
                    <td>{{ row.Flight_Date }}</td>
                    <td>{{ row.From_Airport }}</td>
                    <td>{{ row.To_Airport }}</td>
                    <td>{{ row.num_empty_seats }}</td>
                    <td><button type="button" class="details btn btn-warning" data-toggle="modal" data-target="#modal-details">Details</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="modal-details" tabindex="-1" aria-labelledby="detailsLabel" aria-hidden="true">
        <div class="modal-dialog modal-sp">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-negative" id="detailsLabel">Flight Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ modal_messages() }}
                    <div id="flight-info"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-book" tabindex="-1" aria-labelledby="bookLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-primary-color">
                <div class="modal-header">
                    <h5 class="modal-title text-main" id="bookLabel">Book Flight</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ modal_messages() }}
                    <div id="info" class="text-main"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
<script>
    $(document).ready( function () {
    $('#myTable').DataTable({"pageLength": 25});
} );
</script>
<script type='text/javascript'>
    $(function () {
        $(".details").click(function () {
            var airline_name = $(this).parents("tr").find("#airline_name").text();
            var flight_num = $(this).parents("tr").find("#flight_num").text();
            var timekeeper = "Future"
            var tableType = 2;
            $.ajax({
                url: "/flight_details",
                type: 'POST',
                data: {airline_name: airline_name, flight_num: flight_num, timekeeper: timekeeper, tableType: tableType},
                success: function(data) {
                    $("#flight-info").html(data);
                    $("#flight-info").append(data.htmlresponse);
                }
            });
        });
    });
</script>
{% endblock scripts %}