{% extends "layout.html" %}
{% block content %}
    <h1>My Bookings</h1>
    {% if past_bookings.rowcount != 0 %}
    <hr/>
    <h3>Past Bookings</h3>
    <div class="table-responsive">
        <table class="table table-striped table-sm" id="myPastTable">
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Flight Number</th>
                    <th>Flight Date</th>
                    <th>Departure Airport</th>
                    <th>Destination Airport</th>
                    <th>Seats Reserved</th>
                </tr>
            </thead>

            <tbody>
                {% for row in past_bookings %}
                <tr>
                    <td>{{ row.Airline_Name }}</td>
                    <td>{{ row.Flight_Num }}</td>
                    <td>{{ row.Flight_Date }}</td>
                    <td>{{ row.From_Airport }}</td>
                    <td>{{ row.To_Airport }}</td>
                    <td>{{ row.Num_Seats }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if today_bookings.rowcount != 0 %}
    <hr/>
    <h3>Today's Booking</h3>
    <div class="table-responsive">
        <table class="table table-striped table-sm" id="myCurrentTable">
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Flight Number</th>
                    <th>Flight Date</th>
                    <th>Departure Airport</th>
                    <th>Destination Airport</th>
                    <th>Seats Reserved</th>
                </tr>
            </thead>

            <tbody>
                {% for row in today_bookings %}
                <tr>
                    <td>{{ row.Airline_Name }}</td>
                    <td>{{ row.Flight_Num }}</td>
                    <td>{{ row.Flight_Date }}</td>
                    <td>{{ row.From_Airport }}</td>
                    <td>{{ row.To_Airport }}</td>
                    <td>{{ row.Num_Seats }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if future_bookings.rowcount != 0 %}
    <hr/>
    <h3>Future Bookings</h3>
    <div class="table-responsive">
        <table class="table table-striped table-sm" id="myFutureTable">
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Flight Number</th>
                    <th>Flight Date</th>
                    <th>Departure Airport</th>
                    <th>Destination Airport</th>
                    <th>Seats Reserved</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for row in future_bookings %}
                <h1 id="customer" hidden>{{ row.Customer }}</h1>
                <tr>
                    <td id="airline">{{ row.Airline_Name }}</td>
                    <td id="flightid">{{ row.Flight_Num }}</td>
                    <td>{{ row.Flight_Date }}</td>
                    <td>{{ row.From_Airport }}</td>
                    <td>{{ row.To_Airport }}</td>
                    <td>{{ row.Num_Seats }}</td>
                    <td> 
                        {% if row.Was_Cancelled == 0 %}
                        <button type="button" class="cancel btn btn-danger me-2" data-toggle="modal" data-target="#modal-cancel">Cancel</button>
                        {% else %}
                        Cancelled
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if past_bookings.rowcount == 0 and today_bookings.rowcount == 0 and future_bookings.rowcount == 0 %}
    <hr/>
    <h3>No Bookings Found</h3>
    {% endif %}
    <br>
    <a class="nav-item" href="/book">
        <button type="button" class="btn btn-signup">Book Now!</button>
    </a>
    <div class="modal fade" id="modal-cancel" tabindex="-1" aria-labelledby="cancelLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-negative" id="cancelLabel">Flight Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ modal_messages() }}
                    <h1 id="info"></h1>
                    <a class="nav-item" href="/my_bookings">
                        <button type="button" class="removal btn btn-danger me-2" data-dismiss="modal" aria-label="Close">Cancel Flight</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
<script>
    $(document).ready( function () {
    $('#myPastTable').DataTable({"pageLength": 25});
} );
</script>
<script>
    $(document).ready( function () {
    $('#myCurrentTable').DataTable({"pageLength": 25});
} );
</script>
<script>
    $(document).ready( function () {
    $('#myFutureTable').DataTable({"pageLength": 25});
} );
</script>
<script type='text/javascript'>
    $(function () {
        $(".cancel").click(function () {
            var customer_id = $(this).parents("div").find("#customer").text();
            var airline_name = $(this).parents("tr").find("#airline").text();
            var flight_num = $(this).parents("tr").find("#flightid").text();
            $.ajax({
                url: "/booking_details",
                type: 'POST',
                data: {customer_id: customer_id, airline_name: airline_name, flight_num: flight_num},
                success: function(data) {
                    $("#info").html(data);
                    $("#info").append(data.htmlresponse);
                }
            });
        });
    });
</script>
<script type='text/javascript'>
    $(function () {
        $(".removal").click(function () {
            customer_id = document.getElementById("customer_id_details").innerHTML;
            airline_name = document.getElementById("airline_name_details").innerHTML;
            flight_num = document.getElementById("flight_num_details").innerHTML;
            flight_num = flight_num.substring(15)
            $.ajax({
                url: "/cancel_booking",
                type: 'POST',
                data: {customer_id: customer_id, airline_name: airline_name, flight_num: flight_num},
                success: function() {
                    window.location.reload();
                }
            });
        });
    });
</script>
{% endblock scripts %}
