{% extends "layout.html" %}
{% block content %}
    <h1 class="h2">Find Properties</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm text-left">
                <form action="/reserve" method="GET">
                <h5>Dates: <input type="date" name="start_intr" id="start_intr"></input> - <input type="date" name="end_intr" id="end_intr"></input></h5>
                <h5>Number of Guests: <input type="number" name="desired_guests" id="desired_guests" min="1"></input></h5>
                <input type="submit" class="btn btn-signup me-2" value="Filter Results"></input>
                </form>
            </div>
            <div class="col-sm text-left">
                <div class="text-main" style="padding: 10px; background-color: #464866;">
                    <h5 class="text-main">Current Filter Date Range: &emsp;
                        {% if start != "" %}{{ start }}&emsp;to&emsp;{{ end }}{% else %}None{% endif %}
                    </h5>
                    <h5 class="text-main">Current Filter Guest Count:&emsp;
                        {% if start != "" %}{{ guests }}{% else %}None{% endif %}
                    </h5>
                </div>
            </div>
        </div>
        <hr/>
        <div class="table-responsive">
            <table class="table table-striped table-sm" id="myTable">
                <thead>
                    <tr>
                        <th>Property Name</th>
                        <th>Owner</th>
                        <th>Address</th>
                        <th>Description</th>
                        <th>Average Rating</th>
                        <th>Capacity</th>
                        <th>Cost per Night</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for row in table_data %}
                    <tr>
                        <td id="property_name">{{ row.property_name }}</td>
                        <td id="owner_id">{{ row.owner_email }}</td>
                        <td>{{ row.address }}</td>
                        <td width="14%">{{ row.description }}</td>
                        <td>{% if row.average_rating_score %}
                            {{ row.average_rating_score }}
                            {% endif %}</td>
                        <td>{{ row.capacity }}</td>
                        <td>{{ row.cost_per_night }}</td>
                        <td> 
                            <button type="button" class="details btn btn-warning" data-toggle="modal" data-target="#modal-details">Details</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="modal-details" tabindex="-1" aria-labelledby="detailsLabel" aria-hidden="true">
        <div class="modal-dialog modal-sp">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-negative" id="detailsLabel">Property Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ modal_messages() }}
                    <div id="property-info"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-reserve" tabindex="-1" aria-labelledby="reserveLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-primary-color">
                <div class="modal-header">
                    <h5 class="modal-title text-main" id="reserveLabel">Reserve Property</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ modal_messages() }}
                    <div id="info" class="text-main"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
<script>
    $(document).ready( function () {
    $('#myTable').DataTable({"pageLength": 25});
} );
</script>
<script type='text/javascript'>
    $(function () {
        $(".details").click(function () {
            var owner_id = $(this).parents("tr").find("#owner_id").text();
            var property_name = $(this).parents("tr").find("#property_name").text();
            var viewType = 2;
            $.ajax({
                url: "/property_details",
                type: 'POST',
                data: {owner_id: owner_id, property_name: property_name, viewType: viewType},
                success: function(data) {
                    $("#property-info").html(data);
                    $("#property-info").append(data.htmlresponse);
                }
            });
        });
    });
</script>
{% endblock scripts %}