<!-- Book Form -->

<div class="container">
    <style>
    form#book-form label {
        width: 150px;
        text-align: right;
        display: inline-block;
        padding-right: 5px;
        font-weight: bold;
    }
    </style>
    <form method = 'post' action="book_form" id="book-form">
        <fieldset class="form-group">
            <div class="form-group">
              {{ form.airline_name.label }}
              {{ form.airline_name(style="background-color:#545454;color:#FAFAFA;border:0;border:solid 1.3px #D4D4D4;") }}
              <br>
              {{ form.flight_num.label }}
              {{ form.flight_num(style="background-color:#545454;color:#FAFAFA;border:0;border:solid 1.3px #D4D4D4;") }}
              <br>
              {{ form.num_seats.label }}
              {{ form.num_seats }}
              <br>
              {{ form.current_date.label }}
              {{ form.current_date(style="background-color:#545454;color:#FAFAFA;border:0;border:solid 1.3px #D4D4D4;") }}
              <hr/>
              <h4 class="text-main">Total Cost: $<span id="cost">0</span></h4>
            </div>
            {{ form.submit(class="btn btn-warning md-2") }}
        </fieldset>
    </form>
    
</div>
<script type='text/javascript'>
    var cost = {{ cost }};
    $(function () {
        var start_date, end_date;
        $("#num_seats").change(function () {updateCost()});
    });

    function updateCost() {
        seats = $("#num_seats").val();
        if (seats >= 0) {
            $("#cost").text(cost * seats);
        }
    }
</script>