{% for row in table_data %}
<div class="container">
    <h1 id="property_name_details">{{ row.Property_Name }}</h1>
    <h1 id="customer_id_details" hidden>{{ row.Customer }}</h1>
    <div class="row">
        <div class="col-sm text-left">
            <h6>Address: {{ row.Street }}, {{ row.City }}, {{ row.State }}, {{ row.Zip }}</h6>
            <h6 id="owner_id_details">Owner Contact Info: {{ row.Owner_Email }}</h6>
            {% if tableType == 0 or tableType == 2 %}
            <h6>Capacity: {{ row.Capacity }}</h6>
            <h6>Cost per Night: {{ row.Cost }}</h6>
            {% endif %}
            <br>
            <h6 class="font-weight-bold">Description:</h6>
            <h6>{{ row.Descr }}</h6>
        </div>
        {% if property_amenities.rowcount != 0 or near_airport.rowcount != 0 %}
        <div class="col-sm text-left">
            {% if property_amenities.rowcount != 0 %}
            <h6 class="font-weight-bold">Amenities:</h6>
            {% for row in property_amenities %}
            <h6>{{ row.Amenity_Name }}</h6>
            {% endfor %}
            {% endif %}
            {% if near_airport.rowcount != 0 %}
            <br>
            <h6 class="font-weight-bold">Nearest Airport:</h6>
            {% for row in near_airport %}<h6>{{ row.Airport }} is {{ row.Distance }} miles away</h6>{% endfor %}
            {% endif %}
        </div>
        {% endif %}
        {% if tableType == 1 or tableType == 3 %}
        <div class="col-sm text-left">
            <h6 class="font-weight-bold">Reservation Details</h6>
            <h6>Dates: {{ row.Start_Date }} to {{ row.End_Date }}</h6>
            <h6>Number of Guests: {{ row.Num_Guests }}</h6>
            {% if tableType == 1 %}
                <br>
                <h6>Your Review:</h6>
                {% if not row.Score %}
                    <button type="button" class="rate-property btn btn-warning me-2" data-toggle="modal" data-target="#modal-rate-property">Rate</button>
                {% else %}
                    <h6>
                    {% if row.Score == 0 %}<span style="font-size:150%;">&star;</span>{% endif %}
                    {% if row.Score >= 1 %}<span style="font-size:150%;color:#ffc107;">&starf;</span>{% endif %}
                    {% if row.Score >= 2 %}<span style="font-size:150%;color:#ffc107;">&starf;</span>{% endif %}
                    {% if row.Score >= 3 %}<span style="font-size:150%;color:#ffc107;">&starf;</span>{% endif %}
                    {% if row.Score >= 4 %}<span style="font-size:150%;color:#ffc107;">&starf;</span>{% endif %}
                    {% if row.Score >= 5%}<span style="font-size:150%;color:#ffc107;">&starf;</span>{% endif %}
                    <br>
                    {{ row.Content }}
                    </h6>
                {% endif %}
            {% endif %}
            {% if tableType == 3 %}
            <br>
            <h6>Estimated Refund: ${{ '%0.2f'|format(((row.End_Date - row.Start_Date).days|float)*(row.Cost|float)*0.8) }}</h6>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% if tableType == 0 %}
    <div class="row">
        <div class="col-sm h6">
            {% if table_data_past.rowcount != 0 %}
            <hr/>
            <h3>Past Reservations</h3>
            <div class="table-responsive">
                <table class="table table-striped table-sm" id="myPopPastTable">
                    <thead>
                        <tr>
                            <th>Customer Email</th>
                            <th>Customer Phone #</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Number of Guests</th>
                            <th>Rating</th>
                            <th>Review</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for row in table_data_past %}
                        <tr>
                            <td><u id="rate_customer_id">{{ row.customer_email }}</u><br>
                                {% if not row.Score %}
                                <button type="button" class="rate btn btn-warning me-2" data-toggle="modal" data-target="#modal-rate">Rate</button>
                                {% else %}
                                    {% if row.Score >= 1 %}<span style="font-size:150%;color:#ffc107;">&starf;</span>{% endif %}
                                    {% if row.Score >= 2 %}<span style="font-size:150%;color:#ffc107;">&starf;</span>{% endif %}
                                    {% if row.Score >= 3 %}<span style="font-size:150%;color:#ffc107;">&starf;</span>{% endif %}
                                    {% if row.Score >= 4 %}<span style="font-size:150%;color:#ffc107;">&starf;</span>{% endif %}
                                    {% if row.Score >= 5%}<span style="font-size:150%;color:#ffc107;">&starf;</span>{% endif %}
                                {% endif %}
                            </td>
                            <td>{{ row.customer_phone_num }}</td>
                            <td>{{ row.start_date }}</td>
                            <td>{{ row.end_date }}</td>
                            <td>{{ row.Num_Guests }}</td>
                            <td>{{ row.rating_score }}</td>
                            <td width="14%">{{ row.review }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            {% if table_data_current.rowcount != 0 %}
            <hr/>
            <h3>Current Reservation</h3>
            <div class="table-responsive">
                <table class="table table-striped table-sm" id="myPopCurrentTable">
                    <thead>
                        <tr>
                            <th>Customer Email</th>
                            <th>Customer Phone #</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Number of Guests</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for row in table_data_current %}
                        <tr>
                            <td>{{ row.customer_email }}</td>
                            <td>{{ row.customer_phone_num }}</td>
                            <td>{{ row.start_date }}</td>
                            <td>{{ row.end_date }}</td>
                            <td>{{ row.Num_Guests }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            {% if table_data_future.rowcount != 0 %}
            <hr/>
            <h3>Future Reservations</h3>
            <div class="table-responsive">
                <table class="table table-striped table-sm" id="myPopFutureTable">
                    <thead>
                        <tr>
                            <th>Customer Email</th>
                            <th>Customer Phone #</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Number of Guests</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for row in table_data_future %}
                        <tr>
                            <td>{{ row.customer_email }}</td>
                            <td>{{ row.customer_phone_num }}</td>
                            <td>{{ row.start_date }}</td>
                            <td>{{ row.end_date }}</td>
                            <td>{{ row.Num_Guests }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            {% if table_data_past.rowcount == 0 and table_data_current.rowcount == 0 and table_data_future.rowcount == 0 %}
            <hr/>
            <h3>No Reservation History</h3>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if tableType == 2 %}
    <button type="button" class="reserve btn btn-warning" data-toggle="modal" data-target="#modal-reserve">Reserve</button>
    {% endif %}
</div>
{% endfor %}

<script>
    $(document).ready( function () {
    $('#myPopPastTable').DataTable({"pageLength": 25});
} );
</script>
<script>
    $(document).ready( function () {
    $('#myPopCurrentTable').DataTable({"pageLength": 25});
} );
</script>
<script>
    $(document).ready( function () {
    $('#myPopFutureTable').DataTable({"pageLength": 25});
} );
</script>
<script>
    $(function () {
        $(".rate").click(function () {
            var customer_id = $(this).parents("tr").find("#rate_customer_id").text();
            var s = "Rate " + customer_id;
            $("#rating-info").html(s);
        });
    });
</script>
<script>
    $(function () {
        $(".rate-property").click(function () {
            var property_name = $(this).parents("div").find("#property_name_details").text();
            var owner_id = $(this).parents("div").find("#owner_id_details").text();
            var s = "Rate " + property_name;
            $("#property-rating-info").html(s);
            $("#property-rating-owner").html(owner_id);
        });
    });
</script>
<script>
    $(function () {
        $(".give-property-rating").click(function () {
            var customer_id = $(this).parents("div").find("#customer_id_details").text();
            var owner_id = $(this).parents("div").find("#owner_id_details").text();
            owner_id = owner_id.substring(20)
            var property_name = $(this).parents("div").find("#property_name_details").text();
            var rating = $(this).parents("div").find("#set-property-rating").val();
            var content = $(this).parents("div").find("#rating-content").val();
            if (rating != '') {
                $.ajax({
                    url: "/customer_review_property",
                    type: 'POST',
                    data: {customer_id: customer_id, owner_id: owner_id, property_name: property_name, rating: rating, content: content},
                    success: function() {
                        window.location.reload();
                    }
                });
            }
        });
    });
</script>
<script type='text/javascript'>
    $(function () {
        $(".reserve").click(function () {
            var property_name = $(this).parents("div").find("#property_name_details").text();
            var owner_id = $(this).parents("div").find("#owner_id_details").text();
            owner_id = owner_id.substring(20)
            $.ajax({
                url: "/reserve_form",
                type: 'GET',
                data: {property_name: property_name, owner_id: owner_id},
                success: function(data) {
                    $("#info").html(data);
                    $("#info").append(data.htmlresponse);
                }
            });
        });
    });
</script>