{% extends "layout.html" %}
{% block content %}
    <h1 class="text-main">About Us</h1>
    <hr/>
    <p class="text-main">
        This project was created for the Final Project Phase of CS 4400 - Intro to Database Systems taught by Dr. Mark Moss at Georgia Institute of Technology.
        The goal of the project was to take an existing MySQL database and create a front-end website to support the database and realize the true value of the database.
        Our project makes use of the standard frontend tools (HTML, CSS, Javascript, AJAX, Bootstrap, etc.) and popular server-database ORM tools (Flask, SQLAlchemy) to make it possible.
        We hope you enjoy the website!
    </p>
    <br><br>
    <div class="row">
        <div class="col text-center">
            <img src="static/images/neil.jpg" class="rounded-circle" style="width:200px" alt="Neil Barry">
            <br><br>
            <h3 class="text-main">Neil Barry</h3>
            <h6 class="text-main">Undergraduate - ISyE</h6>
        </div>
        <div class="col text-center">
            <img src="static/images/cardwell.JPG" class="rounded-circle" style="width:200px" alt="Owen Cardwell">
            <br><br>
            <h3 class="text-main">Owen Cardwell</h3>
            <h6 class="text-main">Undergraduate - CS | Math</h6>
        </div>
        <div class="col text-center">
            <img src="static/images/jia.JPG" class="rounded-circle" style="width:200px" alt="Raymond Jia">
            <br><br>
            <h3 class="text-main">Raymond Jia</h3>
            <h6 class="text-main">Undergraduate - ECE</h6>
        </div>
        <div class="col text-center">
            <img src="static/images/xinyue.PNG" class="rounded-circle" style="width:200px" alt="Sara Ma">
            <br><br>
            <h3 class="text-main">Sara Ma</h3>
            <h6 class="text-main">Graduate - QCF</h6>
        </div>
    </div>
{% endblock content %}
