{% extends "layout.html" %}
{% block content %}

    <form method="POST" action="">
<input type="text" name="name" placeholder="Name" />
        <input type="text" name="email" placeholder="Email" />
        <input type="text" name="password" placeholder="Password" />
        <div class="form-group">
            {{ form.submit(class="btn btn-signup") }}
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-main">
            Already Have An Account? <a class="ml-2" href="/login"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
        </small>
    </div>
{% endblock content %}
{% block scripts %}
<script>
    $(function () {
        $(".account-type").click(function () {
            var account_type = $(this).val();
            var registrationType = 'customer'
            if (account_type == 'customer'){
                $("#additional-info").show('medium');
            }else{
                registrationType = 'owner'
                $("#additional-info").hide('medium');
            }
            $.ajax({
                url: "/set_registration_type",
                type: 'POST',
                data: {registrationType: registrationType},
            });
        });
    });
</script>
{% endblock scripts %}
