{% extends "layout.html" %}
{% block content %}

    <form method="POST">
        <input type="text" name="procedure" placeholder="procedure" />
        <input type="text" name="arg1" placeholder="arg1" />
        <input type="text" name="arg2" placeholder="arg2" />
        <input type="text" name="arg3" placeholder="arg3" />
        <input type="text" name="arg4" placeholder="arg4" />
        <input type="text" name="arg5" placeholder="arg5" />
        <input type="text" name="arg6" placeholder="arg6" />
        <input type="text" name="arg7" placeholder="arg7" />
        <input type="text" name="arg8" placeholder="arg8" />
        <input type="text" name="arg9" placeholder="arg9" />
        <input type="text" name="arg10" placeholder="arg10" />

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

{% endblock content %}

